{{ form_start(form,{'attr': {'id': "form_student"}}) }}
<!-- Form Labels on top - Default Style -->
<div class="row pt-3">
    <div class="col-12 ">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="block block-rounded block-bordered">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Основная информация <small> </small></h3>
                        </div>
                        <div class="block-content">
                            <div class="col-12 ">
                                <div class="mb-2">
                                    <div class="">
                                        <span class="form-label">{{ form_label(form.LastName,'Фамилия') }}</span>
                                        {{ form_widget(form.LastName,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.LastName,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.LastName) }}</small>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="">
                                        <span class="form-label">{{ form_label(form.FirstName) }}</span>
                                        {{ form_widget(form.FirstName,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.FirstName,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.FirstName) }}</small>
                                    </div>
                                </div>
                                <div class="col-12  mb-2">
                                    <div class="">
                                        <span class="form-label">{{ form_label(form.MiddleName) }}</span>
                                        {{ form_widget(form.MiddleName) }}
                                        {{ form_errors(form.MiddleName,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.MiddleName) }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-4  mb-2">
                                        <div class="">
                                            <span class="form-label">{{ form_label(form.Gender) }}</span>
                                            {{ form_widget(form.Gender,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                            {{ form_errors(form.Gender,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                            <small>{{ form_help(form.Gender) }}</small>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-lg-8  mb-2">
                                        <div class="">
                                            <span class="form-label">{{ form_label(form.BirthDate,'Дата рождения') }}</span>
                                            {{ form_widget(form.BirthDate,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                            {{ form_errors(form.BirthDate,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                            <small>{{ form_help(form.BirthDate) }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="block block-rounded block-bordered">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Адреса и контакты <small> </small></h3>
                        </div>
                        <div class="block-content">
                            <div class="col-12">
                                <div class="mb-2">
                                    <div class="">
                                        <span class="form-label">{{ form_label(form.AddressFact,'Адрес факт.') }}</span>
                                        {{ form_widget(form.AddressFact,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.AddressFact,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.AddressFact) }}</small>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="">
                                        <span class="form-label">{{ form_label(form.AddressMain,'Адрес рег.') }}</span>
                                        {{ form_widget(form.AddressMain,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.AddressMain,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.AddressMain) }}</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-2">
                                        <div class="">
                                            <span class="form-label">{{ form_label(form.email,'Email') }}</span>
                                            {{ form_widget(form.email,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                            {{ form_errors(form.email,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                            <small>{{ form_help(form.email) }}</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mb-2">
                                        <div class="">
                                            <span class="form-label">{{ form_label(form.PhoneNumber) }}</span>
                                            {{ form_widget(form.PhoneNumber,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                            {{ form_errors(form.PhoneNumber,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                            <small>{{ form_help(form.PhoneNumber) }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="block block-rounded block-bordered">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Социальный учёт <small> </small></h3>
                        </div>
                        <div class="block-content mb-3">
                            <div class="row">
                                <div class="mb-2">
                                    <div class="row">
                                        <span
                                                class="form-label">{{ form_label(form.FamilyTypeID,'Тип семьи') }}</span>
                                        <div class="input-group">
                                        {{ form_widget(form.FamilyTypeID,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}


                                            <button type="button" class="btn btn-outline-secondary"><i
                                                        class="fa-solid fa-circle-plus"></i></button>
                                        </div>
                                        {{ form_errors(form.FamilyTypeID,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.FamilyTypeID) }}</small>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <div class="">
                                        <span class="form-label">{{ form_label(form.HealtgGroupID,'Группа здоровья') }}</span>
                                        <div class="input-group"> {{ form_widget(form.HealtgGroupID,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        <button type="button" class="btn btn-outline-secondary"><i
                                                    class="fa-solid fa-circle-plus"></i></button>
                                        </div>
                                        {{ form_errors(form.HealtgGroupID,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.HealtgGroupID) }}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <h3 class="content-heading border-bottom border-2">Социальные статусы</h3>
                                <div class="form-check form-check-inline">
                                    {{ form_widget(form.IsPoor) }}
                                    <label class="form-check-label"
                                           for="example-checkbox-default1">{{ form_label(form.IsPoor) }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    {{ form_widget(form.IsInvalid) }}
                                    <label class="form-check-label"
                                           for="example-checkbox-default1">{{ form_label(form.IsInvalid) }}</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    {{ form_widget(form.IsOrphan) }}
                                    <label class="form-check-label"
                                           for="example-checkbox-default1">{{ form_label(form.IsOrphan) }}</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="block block-rounded block-bordered">
                        <div class="block-header block-header-default">
                            <h3 class="block-title">Документы <small> </small></h3>
                        </div>
                        <div class="block-content">
                            <div class="col-12 ">
                                <div class="mb-2">

                                    <span class="form-label">{{ form_label(form.DocumentSnils) }}</span>
                                    {{ form_widget(form.DocumentSnils) }}
                                    {{ form_errors(form.DocumentSnils) }}
                                    <div class="invalid-feedback">
                                        <small>СНИЛС не прошел проверку</small>
                                    </div>
                                    <small>{{ form_help(form.DocumentSnils) }}</small>
                                </div>
                                <div class="mb-2">
                                    <div class="row">
                                        <h3 class="content-heading border-bottom border-2">Паспортные данные </h3>
                                        <div class="col">
                                            <span class="form-label">{{ form_label(form.PasportSeries) }}</span>
                                            {{ form_widget(form.PasportSeries) }}
                                            {{ form_errors(form.PasportSeries) }}
                                            <small>{{ form_help(form.PasportSeries) }}</small>
                                        </div>
                                        <div class="col ">
                                            <span class="form-label">{{ form_label(form.PasportNumber) }}</span>
                                            {{ form_widget(form.PasportNumber) }}
                                            {{ form_errors(form.PasportNumber) }}
                                            <small>{{ form_help(form.PasportNumber) }}</small>
                                        </div>

                                    </div>
                                </div>

                                <div class="mb-2">

                                    <span class="form-label"
                                          for="{{ form.PasportDate.vars.id }}">{{ form_label(form.PasportDate) }}</span>
                                    {{ form_widget(form.PasportDate,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                    {{ form_errors(form.PasportDate,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                    <small>{{ form_help(form.PasportDate) }}</small>

                                </div>
                                <div class="mb-2">
                                    <div class="">
                                        <span class="form-label col-12">{{ form_label(form.PasportIssueOrgan) }}</span>
                                        {{ form_widget(form.PasportIssueOrgan,{ 'attr': {'class': 'js-maxlength form-select js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
                                        {{ form_errors(form.PasportIssueOrgan,{ 'attr': {'class': 'invalid-feedback'} }) }}
                                        <small>{{ form_help(form.PasportIssueOrgan) }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="block block-rounded block-bordered">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Учетная информация <small> </small></h3>
                    </div>
                    <div class="block-content">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
{{ form_row(form._token) }}


<div class="row">


    <div class="mb-2">
        <div class="">
            <span class="form-label">{{ form_label(form.NumberZachetka,'Номер зачётки') }}</span>
            {{ form_widget(form.NumberZachetka,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
            {{ form_errors(form.NumberZachetka,{ 'attr': {'class': 'invalid-feedback'} }) }}
            <small>{{ form_help(form.NumberZachetka) }}</small>
        </div>
    </div>
    <div class="mb-2">
        <div class="">
            <span class="form-label">{{ form_label(form.NumberStudBilet,'Номер студ. билета') }}</span>
            {{ form_widget(form.NumberStudBilet,{ 'attr': {'class': 'js-maxlength form-control js-maxlength-enabled','maxlength':'50','data-always-show':'true', 'data-placement':'top'} }) }}
            {{ form_errors(form.NumberStudBilet,{ 'attr': {'class': 'invalid-feedback'} }) }}
            <small>{{ form_help(form.NumberStudBilet) }}</small>
        </div>
    </div>
    {{ form_widget(form) }}

</div>

{{ form_end(form) }}

{% if app.environment()=="dev" %}

    <div class="col-12">
        <div class="block block-rounded">
            <div class="block-header  ">
                <h3 class="block-title">DEVELOPERS</h3>
            </div>
            <div class="block-content-full">
                {{ dump() }}
            </div>

        </div>
    </div>
{% endif %}


{% block customjs %}
    <script>

        const applicantForm = document.getElementById('form_student');
        const studentDocumentSnils = document.getElementById("student_DocumentSnils");


        studentDocumentSnils.onchange = function () {
            documentSnilsCheck(this)
        }


        function handleFormSubmit(event) {
            let valid = true;
            console.log('some');
            event.preventDefault();
            if (!documentSnilsCheck(studentDocumentSnils)) {
                valid = false;
            }
            if (valid) {
                applicantForm.submit();
            } else {
                return false;
            }
        }

        function documentSnilsCheck(elem) {
            let e;
            if (validateSnils(String(elem.value))) {
                elem.classList.add("is-valid");
                elem.classList.remove("is-invalid")
                console.log("СНИЛС прошел проверку")
                return true;
            } else {
                elem.classList.remove("is-valid");
                elem.classList.add("is-invalid");
                console.log("СНИЛС не прошел проверку")

                return false;
            }
        }

        applicantForm.addEventListener("submit", handleFormSubmit)

    </script>
    <script src="/app/js/snils.js"></script>
{% endblock %}