{% extends '@MainApp/base_no_content/base_no_content.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div {{ stimulus_controller('security--auth') }}>
        <div id="page-container">
            <main id="main-container">
                <div class="hero-static d-flex align-items-center">
                    <div class="w-100">
                        <div class="bg-body-light">
                            <div class="content content-full">
                                <div class="row g-0 justify-content-center">
                                    <div class="col-md-8 col-lg-6 col-xl-4 py-4 px-4 px-lg-5">
                                        <div class="text-center">
                                            <p class="mb-2">
                                                <i class="fa fa-2x fa-circle-notch text-primary"></i>
                                            </p>
                                            <h1 class="h4 mb-1">
                                                АИС "Контингент"
                                            </h1>
                                            <p class="fw-medium text-muted mb-3">
                                                Необходимо выполнить вход
                                            </p>
                                        </div>
                                        {% if error %}
                                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}
                                        <form id="auth-form" class="js-validation-signin"
                                              action="{{ path('app_sign_in') }}"
                                              method="POST">
                                            <div class="py-3">
                                                <div class="mb-4">
                                                    <input type="text"
                                                           class="form-control form-control-lg form-control-alt"
                                                           id="username" name="_username"
                                                           data-security--auth-target="_username"
                                                           value="{{ last_username }}" placeholder="Логин">
                                                </div>
                                                <div class="mb-4">
                                                    <input type="password" id="password" name="_password"
                                                           data-security--auth-target="_password"
                                                           class="form-control form-control-lg form-control-alt"
                                                           placeholder="Пароль">
                                                </div>
                                                <div class="mb-4">
                                                    <div class="d-md-flex align-items-md-center justify-content-md-between">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                   id="_remember_me" name="_remember_me">
                                                            <label class="form-check-label" for="_remember_me">Запомнить
                                                                меня</label>
                                                        </div>
                                                        <div class="py-2">
                                                            <a class="fs-sm fw-medium" href="op_auth_reminder2.html">Забыл
                                                                пароль</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-lg-6 col-xxl-5">
                                                    <input type="hidden" name="_csrf_token"
                                                           value="{{ csrf_token('authenticate') }}">
                                                    <button id="login-button" type="button" data-action="click->security--auth#auth" class="btn w-100 btn-alt-primary">
                                                        <span id="login-spinner" hidden="true" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                                        <i id="button-icon" class="fa fa-fw fa-sign-in-alt me-1 opacity-50"></i> Войти
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fs-sm text-center text-muted py-3">
                            <strong>Общество с ограниченной ответственностью "Волок АйТи"</strong> ©
                            <span data-toggle="year-copy" class="js-year-copy-enabled">2025</span>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}


