{{ form_start(form) }}


<div class="row">
<div id="selectdemo"></div>
    <div class="col-4">
        <div class="block ">
            <div class="block-header">
                <h4>Сведения о приказе</h4>
            </div>
            <div class="block-content pb-4">
                {{ form_row(form.id) }}
                {{ form_row(form.college) }}
                {{ form_row(form.createDate) }}
                {{ form_row(form.isActive) }}
                {{ form_row(form.name) }}
                {{ form_row(form.reason) }}
                {{ form_row(form.type) }}

            </div>
        </div>
    </div>
    <div class="col">
        <div class="block">
            <div class="block-header block-header-default">
                <div class="block-title "> Студенты в документе</div>
                <div class="block-options">

                    <button type="button" class="btn btn-primary"><i class="fa fa-save me-1"></i>Сохранить изменения
                    </button>
                    <input class="form-check-input" type="checkbox" value="" id="auto-save-changes" >
                    <label class="form-check-label small" for="auto-save-changes">
                        Сохранять автоматически
                    </label>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-plus-circle me-1"></i>Добавить студентов
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" onclick='$("#modal-student-list").modal("show")'>
                                    <i class="fa fa-plus"></i> Добавить студентов в приказ
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" onclick='$("#modal-student-list-to-group").modal("show")'>
                                    <i class="fa fa-plus"></i> Добавить студентов группы в приказ
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="block-content">
                <div {{ stimulus_controller("mod_education--edit_contingent_document_student_in_document") }}>
                    <table id="table-student-in-document-list" class="table table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Группа</th>
                            <th>Селектор</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Student</th>
                            <th>Student</th>
                            <th>Student</th>
                            <th>Student</th>
                            <th>Student</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="toast-container position-absolute bottom-1 end-0" id="toastPlacement">
    <div id="load-toast" class="toast show">
        <div class="toast-header">

            <strong class="me-auto">Добавление студентов в приказ</strong>
            <small></small>
        </div>
        <div id="load-toast-body" class="toast-body">

            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div id="load-progress" class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="col-4">
                    <span id="load-progress-count">10 из 200</span>
                </div>
            </div>
        </div>
    </div>
</div>

    <!--  Block Modal -->
    {% include("@mod_education/contingent_document/_modal_student_list_to_group.html.twig") %}
    {% include("@mod_education/contingent_document/_modal_student_list.html.twig") %}
    <!--  Block Modal -->

