{% extends '@MainApp/base/base.html.twig' %}
{% set refer=1 %}
{% set refer = 1 %}
{% set canreset = 1 %}
{% set page_title =  'Приказы по контингенту'  %}
{% set sub_page_title = 'Просмотр приказа' %}
{% set refer_link =path('app_contingent_document_index') %}

{% block body %}
    <div class="row" {{ stimulus_controller('mod-education--contingent-document-form-show') }}
         data-mod-education--contingent-document-form-show-contingent-document-id-value="{{ contingent_document.id }}"
    >
    <div class="col-12 col-md-4">
        <div class="block block-rounded block-bordered block-themed">
            <div class="block-header block-header-default bg-secondary">
                <h3 class="block-title text-center text-md-start">Информация о приказе</h3>
                <div class="block-options">
                    <div class="block-options-item">
                        <div class="btn-group" role="group" aria-label="Icons File group">
                            <a href="{{ path('app_contingent_document_print',{id:contingent_document.id}) }}" type="button" class="btn btn-primary">
                                <i class="fa fa-fw fa-print"></i>
                            </a>
                            {% if (not contingent_document.isActive) %}
                                <a href="{{ path('app_contingent_document_submit',{id:contingent_document.id}) }}"
                                   type="button" class="btn btn-primary">
                                    <i class="fa fa-fw fa-check-circle"></i>
                                </a>
                                <a href="{{ path('app_contingent_document_edit', {'id': contingent_document.id}) }}"
                                   type="button" class="btn btn-alt-primary"><i class="fa fa-pencil"></i>
                                </a>
                                <button type="button" class="btn btn-danger">
                                    <i class="fa fa-fw fa-trash-can"></i>
                                </button>
                            {% else %}

                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
            <div class="block-content pb-4">
                <div class="row">
                    <p>
                        <b>ПОО: </b>{{ contingent_document.college }}
                    </p>
                </div>
                <div class="row">
                    <p><b>Номер приказа: </b> {{ contingent_document.number }}</p>
                    <div class="row">
                        <p>
                            <b>Дата: </b>{{ contingent_document.createDate ? contingent_document.createDate|date('Y-m-d') : '' }}
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <b>Вид приказа: </b>{{ contingent_document.type }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12 col-md-8">
        <div class="block block-rounded block-bordered block-themed">
            <div class="block-header block-header-default bg-secondary">
                <h3 class="block-title text-center text-md-start">Студенты в приказе</h3>


            </div>
            <div class="block-content">
                <table id="student-list-table"
                       class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                </table>

            </div>
        </div>
    </div>
</div>
    {% endblock %}
