{{ form_start(form) }}
<div class="row">

    <div class="col-4">
        <div class="block ">
            <div class="block-header">
                <h4>Сведения о приказе</h4>
            </div>
            <div class="block-content pb-4">
                {{ form_widget(form.college) }}
                {{ form_widget(form.createDate) }}
                {{ form_widget(form.isActive) }}
                {{ form_widget(form.name) }}
                {{ form_widget(form.reason) }}
                {{ form_widget(form.type) }}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="block">
            <div class="block-header block-header-default">
                <div class="block-title "> Список студентов</div>
                <div class="block-options">
                    <button type="button" onclick="getStudentList()" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Добавить студента</button>
                </div>
            </div>

            <div class="block-content">
                {% if not form.vars.data.groupMemberships|length == 0 %}
                    {% for membership in form.vars.data.groupMemberships %}
                        {{ dump(membership) }}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>



<!-- Large Block Modal -->
<div class="modal" id="modal-student-list" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-transparent mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Список студентов</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <table id="table-student-list" class=" table table-sm table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>

                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>

                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="block-content block-content-full text-end bg-body">
                    <button type="button" class="btn btn-sm btn-alt-secondary me-1" data-bs-dismiss="modal">Close</button>
                    <button type="button" onclick="addToDocument()" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Perfect</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Large Block Modal -->

<script>

    function getStudentList() {
        console.log('getStudentList')
        let modalWind = $("#modal-student-list");

        table = $('#table-student-list').DataTable({
            ajax: {
                url: '/api/students',
                dataSrc: 'member'
            },
            paging: false,
            columns: [
                {
                    data: 'id',
                    render: DataTable.render.select(),
                },

                {data: 'FirstName'},
                {data: 'LastName'},
                {data: 'MiddleName'},
                {data: 'DocumentSnils'},
            ],
            select: {
                style: 'multi'
            }
        });
        modalWind.modal('show');
    }


    function apiRequest() {
        $.ajax({
            url: 'api/students',         /* Куда пойдет запрос */
            method: 'get',             /* Метод передачи (post или get) */
            dataType: 'html',          /* Тип данных в ответе (xml, json, script, html). */
            data: {text: 'Текст'},     /* Параметры передаваемые в запросе. */
            done: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
                alert(data);            /* В переменной data содержится ответ от index.php. */
            }
        });
    }


    //$('#table-student-list').DataTable().rows({ selected: true }).data();

    function addToDocument() {
        let data = $('#table-student-list').DataTable().rows({selected: true}).data();
        for (i = 0 ;i < data.count();i++)
        {
            console.log(data[i]);
        }
        $('table-student-list').DataTable().destoy();
        $("#modal-student-list").hide();
    }

</script>