{{ form_start(form) }}


<div class="row">

    <div class="col-4">
        <div class="block ">
            <div class="block-header">
                <h4>Сведения о приказе</h4>
            </div>
            <div class="block-content pb-4">
                {{ form_widget(form.college) }}
                {{ form_widget(form.createDate) }}
                {{ form_widget(form.isActive) }}
                {{ form_widget(form.name) }}
                {{ form_widget(form.reason) }}
                {{ form_widget(form.type) }}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="block">
            <div class="block-header block-header-default">
                <div class="block-title "> Список студентов</div>
                <div class="block-options">
                    <button type="button" onclick="getStudentList()" class="btn btn-primary btn-sm"><i
                                class="fa fa-plus"></i> Добавить студента
                    </button>
                </div>
            </div>

            <div class="block-content">
                {% if not form.vars.data.groupMemberships|length == 0 %}
                    {% for membership in form.vars.data.groupMemberships %}
                        <p>{{ membership.student }}</p>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>


<div class="toast-container position-absolute bottom-1 end-0" id="toastPlacement">
    <div id="load-toast" class="toast show">
        <div class="toast-header">

            <strong class="me-auto">Добавление студентов в приказ</strong>
            <small></small>
        </div>
        <div id="load-toast-body" class="toast-body">

            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div id="load-progress" class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="col-4">
                    <span id="load-progress-count">10 из 200</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Large Block Modal -->
<div class="modal" id="modal-student-list" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-transparent mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Список студентов</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <table id="table-student-list" class="table table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>СНИЛС</th>

                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>

                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="block-content block-content-full text-end bg-body">
                    <button type="button" class="btn btn-sm btn-alt-secondary me-1" data-bs-dismiss="modal">Close
                    </button>
                    <button type="button" onclick="addToDocument()" class="btn btn-sm btn-primary"
                            data-bs-dismiss="modal">Perfect
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Large Block Modal -->

<script src="{{ asset('js/app/mod_education/contingent_document/editform.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        console.log("Ready!");
    }, false);

    function getStudentList() {

        $('#table-student-list').DataTable({
            ajax: {
                url: '/api/students',
                dataSrc: 'member'
            },
            paging: true,
            pageLength: 30,
            lengthMenu: [30, 50, 75, 100],

            columns: [
                {
                    data: 'id',
                    render: DataTable.render.select(),
                },

                {data: 'FirstName'},
                {data: 'LastName'},
                {data: 'MiddleName'},
                {data: 'DocumentSnils'},
            ],
            select: {
                style: 'multi'
            }
        });
        $("#modal-student-list").modal('show');
    }

    function apiRequest() {
        $.ajax({
            url: 'api/students',         /* Куда пойдет запрос */
            method: 'get',             /* Метод передачи (post или get) */
            dataType: 'html',          /* Тип данных в ответе (xml, json, script, html). */
            data: {text: 'Текст'},     /* Параметры передаваемые в запросе. */
            done: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
                alert(data);            /* В переменной data содержится ответ от index.php. */
            }
        });
    }

    async function addToDocument() {
        let data = $('#table-student-list').DataTable().rows({selected: true}).data();
        fetch("/mod_education/messenger/add_task", {
            method: "POST",
            body: JSON.stringify(Array.from(data)),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        });
        /*
                console.log(JSON.stringify(Array.from(data)))

                $('#load-progress').css('width', 0 + '%');
                document.getElementById('load-progress').setAttribute('aria-valuemax', data.count());
                let data_count = data.count();
                for (let i = 0; i < data_count; i++) {
                    let response_data = {
                        "@context": "/api/context/GroupMemberShip",
                        "@type": "GroupMemberShip",
                        "Student": data[i]['@id'],
                        "ContingentDocument": "/api/contingent_documents/{{ contingent_document.id|raw }}",
                "Active": true
            }


            let result;
            result = await sendData(response_data, i, data_count);
            console.log(result);
        }
        $('#table-student-list').DataTable().destroy()
        $("#modal-student-list").hide();*/
    }

    async function sendData(response_data, current_item, data_count) {
        fetch('/mod_education/messenger/add_task', {
            method: 'POST',
            //headers: {'Content-Type': 'application/ld+json'},
            body: JSON.stringify(response_data)
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Сетевая ошибка');
                }
                $('#load-progress').css('width', current_item + '%');
                $('#load-progress-count').innerHTML = `${current_item} из ${data_count}`
                return response;
            })
            .catch(error => console.error('Ошибка:', error));
    }

    document.addEventListener("DOMContentLoaded", () => {
        let myToastEl = document.getElementById('toast-1')
        let myToast = bootstrap.Toast.getOrCreateInstance(myToastEl)
    })
</script>



