{{ form_start(form) }}


<div class="row">

    <div class="col-4">
        <div class="block ">
            <div class="block-header">
                <h4>Сведения о приказе</h4>
            </div>
            <div class="block-content pb-4">
                {{ form_widget(form.college) }}
                {{ form_widget(form.createDate) }}
                {{ form_widget(form.isActive) }}
                {{ form_widget(form.name) }}
                {{ form_widget(form.reason) }}
                {{ form_widget(form.type) }}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="block">
            <div class="block-header block-header-default">
                <div class="block-title "> Студенты в документе</div>
                <div class="block-options">
                    <button type="button" onclick='$("#modal-student-list").modal("show")'
                            class="btn btn-primary btn-sm"><i
                                class="fa fa-plus"></i> Добавить студентов в приказ
                    </button>
                </div>
            </div>

            <div class="block-content">
                <div {{ stimulus_controller("mod_education--edit_contingent_document_student_in_document") }}>
                    <table id="table-student-in-document-list" class="table table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>СНИЛС</th>

                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>

                        </tr>
                        </tfoot>
                    </table>

                </div>


                {% if not form.vars.data.groupMemberships|length == 0 %}
                    {% for membership in form.vars.data.groupMemberships %}
                        <p>{{ membership.student }}</p>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>


<div class="toast-container position-absolute bottom-1 end-0" id="toastPlacement">
    <div id="load-toast" class="toast show">
        <div class="toast-header">

            <strong class="me-auto">Добавление студентов в приказ</strong>
            <small></small>
        </div>
        <div id="load-toast-body" class="toast-body">

            <div class="row">
                <div class="col">
                    <div class="progress">
                        <div id="load-progress" class="progress-bar progress-bar-striped progress-bar-animated"
                             role="progressbar"
                             aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="col-4">
                    <span id="load-progress-count">10 из 200</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Large Block Modal -->
<div class="modal" id="modal-student-list" role="dialog" aria-labelledby="modal-block-large" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="block block-rounded block-transparent mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Список студентов</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-fw fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div {{ stimulus_controller("mod_education--edit_contingent_document") }}>
                        <input id="contingent-document-id" value="{{ contingent_document.id }}">
                    <table id="table-student-list" class="table table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>СНИЛС</th>

                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>

                        </tr>
                        </tfoot>
                    </table>

                        <div class="block-content block-content-full text-end bg-body">
                    <button type="button" class="btn btn-sm btn-alt-secondary me-1" data-bs-dismiss="modal">Close
                    </button>

                            <button type="button" data-action="click->mod-education--edit-contingent-document#addtodocument"
                                    class="btn btn-sm btn-primary">Perfect
                    </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





