{{ form_start(form) }}
<div class="row items-push">
    <div class="col-4">
        <div class="block block-rounded block-bordered ">

            <div class="block-header block-header-default">
                <div class="block-title">Необходимо выполнить подключение</div>
            </div>
            <div class="block-content pb-4">
                {{ form_row(form.username) }}
                {{ form_row(form.password) }}
                <div id="load-info"></div>
            </div>
            <div class="block-header block-header-default">
                <button type="button" data-action="mod-mosreg-vis--mod-mosregvis-new#auth" class="btn btn-primary btn-sm "><i class="fa fa-key me-1"></i> Авторизоваться</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="block block-rounded block-bordered ">

            <div class="block-header block-header-default">
                <div class="block-title">Сведения</div>
            </div>
            <div class="block-content pb-4">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
</div>



<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
