{% extends '@MainApp/base/base.html.twig' %}
{% block title %}
    {% if page_title is defined %} {{ page_title }} {% endif %}
{% endblock %}
{% set actions_menu='true' %}
{% set page_title = 'Приемная комиссия' %}
{% set sub_page_title = 'Список приемных кампаний' %}

{% block topmenu_items %}

    <a class="btn btn-sm btn-primary" href="{{ path('app_admission_new') }}"><i class="fa fa-plus-circle me-1"></i>Добавить
        новую</a>
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Наименование</th>
                <th>Дата начала/завершения</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for admission in admissions %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ admission.name }}</td>
                <td>{{ admission.dateStart ? admission.dateStart|date('Y-m-d') : '' }}
                    <br>{{ admission.dateEnd ? admission.dateEnd|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_admission_show', {'id': admission.id}) }}">Просмотр</a>
                    <a class="btn btn-sm btn-primary" href="{{ path('app_admission_edit', {'id': admission.id}) }}">Редактировать</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Нет ни одной записи</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
